# -------------------------
# Python
# -------------------------
__pycache__/

# -------------------------
# Virtual Env
# -------------------------
.venv/
.env/

# -------------------------
# Build / Dist
# -------------------------
dist/
build/
installer_output/

# -------------------------
# IDE
# -------------------------
.vscode/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Third-Party / External
# -------------------------
third_party/

# -------------------------
# Dev Zeug
# -------------------------
.agents/
docs/